* Kamil Łangowski 
* Szymon Pawłowski 
* Przemysław Koden

In [1]:
import math
import numpy as np
import pandas as pd

# Metoda trapezów

In [2]:
def trapez(f,a,b,n):
  c = 0
  h = (b-a)/n
  for i in range(n-1):
    x = a + i*h
    y = a + (i+1)*h
    c = c + (f(x)+f(y))
  return c*h/2

# Metoda Simpsona

In [3]:
def simpson(f,a,b,m):
  c = 0
  c1 = 0
  c2 = 0
  n = 2*m
  h = (b-a)/n
  for i in range(m-1):
    c1 = c1 + f(a + (2*i+1)*h)
  for i in range(1,m-1):
    c2 = c2 + f(a + (2*i)*h)
  c = h/3 * (f(a) + 4*c1 + 2*c2 + f(b))
  return c


# Serie obliczeń



*   Metoda trapezów

In [4]:
def function1(x):
  f1=x**2+x
  return f1
def function2(x):
  f2=math.exp(x)
  return f2

In [5]:
df1 = pd.DataFrame(index=range(0,6), columns=['a','b','n','m','trapez(funkction1)','simpson(funkction1)'])

In [6]:
df2 = pd.DataFrame(index=range(0,6), columns=['a','b','n','m','trapez(funkction2)','simpson(funkction2)'])

In [7]:
# dla funkcji x^2+x, zmiana kroku procedury
df1['a'][0]=a=1
df1['b'][0]=b=4
df1['n'][0]=n=5
df1['trapez(funkction1)'][0]=trapez(function1,1,4,5)
#dla funkcji x^2+x, zmiana kroku procedury
df1['a'][1]=a=1 
df1['b'][1]=b=4
df1['n'][1]=n=100
df1['trapez(funkction1)'][1]=trapez(function1,1,4,100)
#dla funkcji x^2+x, zmiana kroku procedury
df1['a'][2]=a=1
df1['b'][2]=b=4
df1['n'][2]=n=1000
df1['trapez(funkction1)'][2]=trapez(function1,1,4,1000)
#dla funkcji x^2+x, zmiana kroku procedury
df1['a'][3]=a=0
df1['b'][3]=b=2 
df1['n'][3]=n=5
df1['trapez(funkction1)'][3]=trapez(function1,0,2,5)
#dla funkcji x^2+x, zmiana kroku procedury
df1['a'][4]=a=0
df1['b'][4]=b=2
df1['n'][4]=n=100
df1['trapez(funkction1)'][4]=trapez(function1,0,2,100)
#dla funkcji x^2+x, zmiana kroku procedury
df1['a'][5]=a=0 
df1['b'][5]=b=2
df1['n'][5]=n=1000
df1['trapez(funkction1)'][5]=trapez(function1,0,2,1000)
#dla funkcji e^x, zmiana kroku procedury
df2['a'][0]=a=1
df2['b'][0]=b=10
df2['n'][0]=n=5
df2['trapez(funkction2)'][0]=trapez(function2,1,10,5)
#dla funkcji e^x, zmiana kroku procedury
df2['a'][1]=a=1
df2['b'][1]=b=10
df2['n'][1]=n=100
df2['trapez(funkction2)'][1]=trapez(function2,1,10,100)
#dla funkcji e^x, zmiana kroku procedury
df2['a'][2]=a=1
df2['b'][2]=b=10
df2['n'][2]=n=1000
df2['trapez(funkction2)'][2]=trapez(function2,1,10,1000)
#dla funkcji e^x, zmiana kroku procedury
df2['a'][3]=a=5 
df2['b'][3]=b=50
df2['n'][3]=n=5
df2['trapez(funkction2)'][3]=trapez(function2,5,50,5)
#dla funkcji e^x, zmiana kroku procedury
df2['a'][4]=a=5 
df2['b'][4]=b=50
df2['n'][4]=n=100
df2['trapez(funkction2)'][4]=trapez(function2,5,50,100)
#dla funkcji e^x, zmiana kroku procedury
df2['a'][5]=a=5 
df2['b'][5]=b=50
df2['n'][5]=n=1000
df2['trapez(funkction2)'][5]=trapez(function2,5,50,1000)



*  Metoda Simpsona

In [8]:
# dla funkcji x^2+x, zmiana kroku procedury
a=1 
b=4
df1['m'][0]=m=5
df1['simpson(funkction1)'][0]=simpson(function1,1,4,5)
# dla funkcji x^2+x, zmiana kroku procedury
a=1
b=4
df1['m'][1]=m=100
df1['simpson(funkction1)'][1]=simpson(function1,1,4,100)
# dla funkcji x^2+x, zmiana kroku procedury
a=1 
b=4
df1['m'][2]=m=1000
df1['simpson(funkction1)'][2]=simpson(function1,1,4,1000)
# dla funkcji x^2+x, zmiana kroku procedury
a=0 
b=2
df1['m'][3]=m=5
df1['simpson(funkction1)'][3]=simpson(function1,0,2,5)
# dla funkcji x^2+x, zmiana kroku procedury
a=0 
b=2
df1['m'][4]=m=100
df1['simpson(funkction1)'][4]=simpson(function1,0,2,100)
# dla funkcji x^2+x, zmiana kroku procedury
a=0 
b=2
df1['m'][5]=m=1000
df1['simpson(funkction1)'][5]=simpson(function1,0,2,1000)
#dla funkcji e^x, zmiana kroku procedury
a=1
b=10
df2['m'][0]=m=5
df2['simpson(funkction2)'][0]=simpson(function2,1,10,5)
#dla funkcji e^x, zmiana kroku procedury
a=1
b=10
df2['m'][1]=m=100
df2['simpson(funkction2)'][1]=simpson(function2,1,10,100)
#dla funkcji e^x, zmiana kroku procedury
a=1 
b=10
df2['m'][2]=m=1000
df2['simpson(funkction2)'][2]=simpson(function2,1,10,1000)
#dla funkcji e^x, zmiana kroku procedury
a=5 
b=50
df2['m'][3]=m=5
df2['simpson(funkction2)'][3]=simpson(function2,a,b,m)
#dla funkcji e^x, zmiana kroku procedury
a=5
b=50
df2['m'][4]=m=100
df2['simpson(funkction2)'][4]=simpson(function2,5,50,100)
#dla funkcji e^x, zmiana kroku procedury
a=5
b=50
df2['m'][5]=m=1000
df2['simpson(funkction2)'][5]=simpson(function2,5,50,1000)





*   Data Frame

In [9]:
df1

   a  b     n     m trapez(funkction1) simpson(funkction1)
0  1  4     5     5             18.192              18.552
1  1  4   100   100          27.904486           27.905386
2  1  4  1000  1000          28.440045           28.440054
3  0  2     5     5              2.688               2.768
4  0  2   100   100           4.547796            4.547996
5  0  2  1000  1000           4.654678             4.65468

In [10]:
df2

   a   b     n     m        trapez(funkction2)       simpson(funkction2)
0  1  10     5     5               4571.294931               9165.969694
1  1  10   100   100              20141.540246              20156.393045
2  1  10  1000  1000               21826.54605              21826.694746
3  5  50     5     5     2880006475240946176.0  7777101183177499607040.0
4  5  50   100   100  3361514126141817356288.0  3446870340675356327936.0
5  5  50  1000  1000  4957401821563761721344.0  4958276487176343519232.0

# Eksperymenty



*   Metoda trapezów

In [11]:

#wyniki zmian wartości funkcji o znanej postaci pierwotnej, na wybranym przedziale, dla wzrastającej liczby iteracji

################################################################################

#funkcja cosinus na [1, 10]
#wartosc analityczna calki ~ -1.3854920957
Tcos_df = pd.DataFrame(index=range(1,51), columns=['podzialy','wartosc','blad_wzgledny'])
teo1 = -1.385492

for i in range(1,51):
  Tcos_df['podzialy'][i] = i
  Tcos_df['wartosc'][i] = trapez(math.cos, 1, 10, i)
  Tcos_df['blad_wzgledny'][i] = abs((trapez(math.cos, 1, 10, i) - teo1 ) / teo1)

print('WYNIKI DLA FUNKCJI COS wartosc analityczna:',teo1)
print(Tcos_df)

################################################################################

#funkcja exp na [1, 10]
#wartosc analityczna calki ~ 22023.74751

Texp_df = pd.DataFrame(index=range(1,51), columns=['podzialy','wartosc','blad_wzgledny'])
teo2 = 22023.74751

for i in range(1,51):
  Texp_df['podzialy'][i] = i
  Texp_df['wartosc'][i] = trapez(math.exp, 1, 10, i)
  Texp_df['blad_wzgledny'][i] = abs((trapez(math.exp, 1, 10, i) - teo2 ) / teo2)
print('WYNIKI DLA FUNKCJI EXP wartosc analityczna:',teo2)
print(Texp_df)

################################################################################

#funkcja sqrt na [1, 10]
#wartosc analityczna calki ~ 20.4151844

Tsqrt_df = pd.DataFrame(index=range(1,51), columns=['podzialy','wartosc','blad_wzgledny'])
teo3 = 20.4151844

for i in range(1,51):
  Tsqrt_df['podzialy'][i] = i
  Tsqrt_df['wartosc'][i] = trapez(math.sqrt, 1, 10, i)
  Tsqrt_df['blad_wzgledny'][i] = abs((trapez(math.sqrt, 1, 10, i) - teo3 ) / teo3)

print('WYNIKI DLA FUNKCJI SQRT wartosc analityczna:',teo3)
print(Tsqrt_df)


################################################################################

WYNIKI DLA FUNKCJI COS wartosc analityczna: -1.385492
   podzialy   wartosc blad_wzgledny
1         1       0.0           1.0
2         2  2.810187      3.028295
3         3 -0.019624      0.985836
4         4  0.082324      1.059419
5         5  0.070891      1.051167
6         6 -0.034605      0.975023
7         7 -0.162444      0.882753
8         8   -0.2846      0.794586
9         9 -0.392962      0.716374
10       10 -0.486627      0.648769
11       11 -0.566993      0.590764
12       12 -0.635991      0.540964
13       13 -0.695476       0.49803
14       14  -0.74705      0.460805
15       15 -0.792046      0.428328
16       16  -0.83155      0.399816
17       17 -0.866444       0.37463
18       18 -0.897446      0.352255
19       19 -0.925139      0.332267
20       20 -0.950003      0.314321
21       21 -0.972434      0.298131
22       22 -0.992758      0.283462
23       23 -1.011249      0.270115
24       24 -1.028138      0.257926
25       25 -1.043616      0.246754
26       26  -1.05785       0.23648
27       27  -1.07098      0.227004
28       28 -1.083126      0.218237
29       29 -1.094393      0.210105
30       30  -1.10487      0.202543
31       31 -1.114636      0.195494
32       32  -1.12376      0.188909
33       33 -1.132303      0.182743
34       34 -1.140316       0.17696
35       35 -1.147847      0.171524
36       36 -1.154937      0.166407
37       37 -1.161624       0.16158
38       38  -1.16794      0.157022
39       39 -1.173915      0.152709
40       40 -1.179576      0.148623
41       41 -1.184946      0.144747
42       42 -1.190047      0.141066
43       43 -1.194898      0.137564
44       44 -1.199517       0.13423
45       45 -1.203921      0.131052
46       46 -1.208123      0.128019
47       47 -1.212138      0.125121
48       48 -1.215977       0.12235
49       49 -1.219651      0.119698
50       50 -1.223171      0.117158
WYNIKI DLA FUNKCJI EXP wartosc analityczna: 22023.74751
   podzialy       wartosc blad_wzgledny
1         1           0.0           1.0
2         2    556.672982      0.974724
3         3    1812.82161      0.917688
4         4   3223.412146      0.853639
5         5   4571.294931      0.792438
6         6   5800.273944      0.736635
7         7   6902.793541      0.686575
8         8   7886.704512        0.6419
9         9   8764.406946      0.602047
10       10   9548.869373      0.566428
11       11  10252.149768      0.534496
12       12   10884.92328      0.505764
13       13  11456.426227      0.479815
14       14  11974.564427      0.456289
15       15  12446.075383      0.434879
16       16   12876.69646      0.415327
17       17  13271.319712      0.397409
18       18  13634.126955      0.380935
19       19  13968.704443      0.365744
20       20  14278.138843      0.351693
21       21  14565.096981      0.338664
22       22  14831.891904       0.32655
23       23  15080.537582       0.31526
24       24   15312.79425      0.304714
25       25  15530.206082      0.294843
26       26  15734.132571      0.285583
27       27  15925.774761      0.276882
28       28  16106.197246       0.26869
29       29  16276.346682      0.260964
30       30  16437.067433      0.253666
31       31  16589.114828      0.246762
32       32  16733.166451      0.240222
33       33  16869.831772      0.234016
34       34  16999.660403      0.228121
35       35  17123.149204      0.222514
36       36  17240.748397      0.217175
37       37  17352.866871      0.212084
38       38   17459.87678      0.207225
39       39  17562.117544      0.202583
40       40   17659.89935      0.198143
41       41  17753.506208      0.193893
42       42  17843.198641       0.18982
43       43  17929.216048      0.185914
44       44   18011.77879      0.182166
45       45  18091.090037      0.178564
46       46  18167.337406      0.175102
47       47  18240.694408      0.171772
48       48  18311.321751      0.168565
49       49  18379.368489      0.165475
50       50  18444.973057      0.162496
WYNIKI DLA FUNKCJI SQRT wartosc analityczna: 20.4151844
   podzialy    wartosc blad_wzgledny
1         1        0.0           1.0
2         2   7.526718      0.631318
3         3  11.468627      0.438231
4         4   13.58983      0.334327
5         5  14.903434      0.269983
6         6  15.794754      0.226323
7         7  16.438617      0.194785
8         8  16.925297      0.170946
9         9  17.306001      0.152298
10       10  17.611902      0.137314
11       11  17.863054      0.125011
12       12  18.072936      0.114731
13       13   18.25094      0.106011
14       14  18.403814      0.098523
15       15  18.536525      0.092023
16       16  18.652814      0.086326
17       17   18.75555      0.081294
18       18  18.846972      0.076816
19       19   18.92885      0.072805
20       20  19.002604      0.069193
21       21  19.069386      0.065921
22       22   19.13014      0.062946
23       23  19.185647      0.060227
24       24  19.236557      0.057733
25       25   19.28342      0.055437
26       26    19.3267      0.053317
27       27  19.366791      0.051354
28       28  19.404034      0.049529
29       29  19.438723       0.04783
30       30   19.47111      0.046244
31       31  19.501419      0.044759
32       32  19.529841      0.043367
33       33   19.55655      0.042059
34       34  19.581694      0.040827
35       35  19.605407      0.039665
36       36  19.627809      0.038568
37       37  19.649004       0.03753
38       38  19.669089      0.036546
39       39  19.688147      0.035613
40       40  19.706256      0.034726
41       41  19.723485      0.033882
42       42  19.739896      0.033078
43       43  19.755547      0.032311
44       44  19.770489      0.031579
45       45  19.784768       0.03088
46       46  19.798429      0.030211
47       47  19.811511       0.02957
48       48  19.824049      0.028956
49       49  19.836077      0.028367
50       50  19.847625      0.027801

In [12]:
Tmin1 = trapez(math.cos,1,10,2)
Tmax1 = trapez(math.cos, 1,10,100000)

print('Wynik malej liczby krokow dla cos(x):', Tmin1) 
print('Wynik duzej liczby krokow dla cos(x):',Tmax1)



Tmin2 = trapez(math.exp, 1, 10, 2)
Tmax2 = trapez(math.exp, 1, 10, 100000)
print('Wynik malej liczby krokow dla exp(x):', Tmin2) 
print('Wynik duzej liczby krokow dla exp(x):',Tmax2)


Tmin3 = trapez(math.sqrt, 1, 10, 2)
Tmax3 = trapez(math.sqrt, 1, 10, 100000)
print('Wynik malej liczby krokow dla sqrt(x):', Tmin1) 
print('Wynik duzej liczby krokow dla sqrt(x):',Tmax1)

Wynik malej liczby krokow dla cos(x): 2.8101871803586493
Wynik duzej liczby krokow dla cos(x): -1.3854165761213209
Wynik malej liczby krokow dla exp(x): 556.6729817085287
Wynik duzej liczby krokow dla exp(x): 22021.765235125928
Wynik malej liczby krokow dla sqrt(x): 2.8101871803586493
Wynik duzej liczby krokow dla sqrt(x): -1.3854165761213209



*   Metoda Simpsona

In [13]:
#wyniki zmian wartości funkcji o znanej postaci pierwotnej, na wybranym przedziale, dla wzrastającej liczby iteracji

################################################################################

#funkcja cosinus na [1, 10]
#wartosc analityczna calki ~ -1.3854920957
Scos_df = pd.DataFrame(index=range(1,51), columns=['podzialy','wartosc','blad_wzgledny'])
Steo1 = -1.385492

for i in range(1,51):
  Scos_df['podzialy'][i] = i
  Scos_df['wartosc'][i] = simpson(math.cos, 1, 10, i)
  Scos_df['blad_wzgledny'][i] = abs((simpson(math.cos, 1, 10, i) - Steo1 ) / Steo1)

print('WYNIKI DLA FUNKCJI COS  wartosc analityczna:',Steo1)
print(Scos_df)

################################################################################

#funkcja exp na [1, 10]
#wartosc analityczna calki ~ 22023.74751

Sexp_df = pd.DataFrame(index=range(1,51), columns=['podzialy','wartosc','blad_wzgledny'])
Steo2 = 22023.74751

for i in range(1,51):
  Sexp_df['podzialy'][i] = i
  Sexp_df['wartosc'][i] = simpson(math.exp, 1, 10, i)
  Sexp_df['blad_wzgledny'][i] = abs((simpson(math.exp, 1, 10, i) - Steo2 ) / Steo2)
print('WYNIKI DLA FUNKCJI EXP wartosc analityczna:',Steo2)
print(Sexp_df)

################################################################################

#funkcja sqrt na [1, 10]
#wartosc analityczna calki ~ 20.4151844

Ssqrt_df = pd.DataFrame(index=range(1,51), columns=['podzialy','wartosc','blad_wzgledny'])
Steo3 = 20.4151844

for i in range(1,51):
  Ssqrt_df['podzialy'][i] = i
  Ssqrt_df['wartosc'][i] = simpson(math.sqrt, 1, 10, i)
  Ssqrt_df['blad_wzgledny'][i] = abs((simpson(math.sqrt, 1, 10, i) - Steo3 ) / Steo3)

print('WYNIKI DLA FUNKCJI SQRT wartosc analityczna:',Steo3)
print(Ssqrt_df)


################################################################################

WYNIKI DLA FUNKCJI COS  wartosc analityczna: -1.385492
   podzialy   wartosc blad_wzgledny
1         1 -0.448154      0.676538
2         2 -3.206466      1.314316
3         3 -0.987976      0.286913
4         4 -0.198848      0.856479
5         5 -0.050316      0.963684
6         6  -0.10233      0.926142
7         7 -0.206817      0.850727
8         8 -0.316613       0.77148
9         9 -0.417496      0.698666
10       10 -0.506197      0.634645
11       11  -0.58305      0.579175
12       12 -0.649444      0.531254
13       13 -0.706933      0.489761
14       14 -0.756937       0.45367
15       15 -0.800671      0.422104
16       16 -0.839143      0.394336
17       17 -0.873183      0.369767
18       18 -0.903467      0.347909
19       19 -0.930553      0.328359
20       20 -0.954897      0.310788
21       21  -0.97688      0.294922
22       22 -0.996815      0.280533
23       23 -1.014967      0.267432
24       24 -1.031556      0.255459
25       25  -1.04677      0.244478
26       26 -1.060769      0.234374
27       27 -1.073689      0.225048
28       28 -1.085648      0.216417
29       29 -1.096745      0.208407
30       30  -1.10707      0.200955
31       31 -1.116698      0.194006
32       32 -1.125697      0.187511
33       33 -1.134125      0.181428
34       34 -1.142033       0.17572
35       35 -1.149468      0.170354
36       36 -1.156471        0.1653
37       37 -1.163076      0.160532
38       38 -1.169318      0.156027
39       39 -1.175223      0.151765
40       40  -1.18082      0.147725
41       41  -1.18613      0.143892
42       42 -1.191176      0.140251
43       43 -1.195976      0.136786
44       44 -1.200547      0.133487
45       45 -1.204906      0.130341
46       46 -1.209066      0.127338
47       47 -1.213041      0.124469
48       48 -1.216843      0.121725
49       49 -1.220482      0.119098
50       50 -1.223969      0.116581
WYNIKI DLA FUNKCJI EXP wartosc analityczna: 22023.74751
   podzialy       wartosc blad_wzgledny
1         1  33043.776115       0.50037
2         2  16599.259077      0.246302
3         3  11582.939041       0.47407
4         4   9726.081157      0.558382
5         5   9165.969694      0.583814
6         6   9198.063353      0.582357
7         7    9507.17855      0.568321
8         8   9941.218846      0.548614
9         9  10423.660351      0.526708
10       10  10915.241751      0.504388
11       11   11395.88828      0.482564
12       12  11855.708873      0.461685
13       13  12290.320977      0.441951
14       14  12698.341979      0.423425
15       15  13080.009037      0.406095
16       16  13436.406081      0.389913
17       17  13769.026367       0.37481
18       18  14079.524518      0.360712
19       19  14369.577364      0.347542
20       20  14640.807959      0.335226
21       21   14894.74652      0.323696
22       22  15132.812907      0.312887
23       23  15356.311568      0.302738
24       24  15566.433505      0.293198
25       25  15764.262036      0.284215
26       26    15950.7804      0.275746
27       27  16126.880064       0.26775
28       28  16293.369066      0.260191
29       29  16450.980023      0.253034
30       30  16600.377609      0.246251
31       31  16742.165424      0.239813
32       32  16876.892226      0.233696
33       33  17005.057548      0.227876
34       34  17127.116733      0.222334
35       35  17243.485432       0.21705
36       36  17354.543622      0.212008
37       37  17460.639173       0.20719
38       38  17562.091037      0.202584
39       39   17659.19208      0.198175
40       40  17752.211609      0.193951
41       41  17841.397622      0.189902
42       42  17926.978816      0.186016
43       43  18009.166385      0.182284
44       44  18088.155619      0.178698
45       45  18164.127347      0.175248
46       46  18237.249219      0.171928
47       47  18307.676867       0.16873
48       48  18375.554944      0.165648
49       49  18441.018055      0.162676
50       50  18504.191609      0.159807
WYNIKI DLA FUNKCJI SQRT wartosc analityczna: 20.4151844
   podzialy    wartosc blad_wzgledny
1         1   6.243416      0.694178
2         2   8.530035      0.582172
3         3  11.933832      0.415443
4         4  13.856785      0.321251
5         5  15.076228      0.261519
6         6  15.915601      0.220404
7         7  16.527822      0.190415
8         8   16.99382      0.167589
9         9  17.360273      0.149639
10       10  17.655941      0.135156
11       11    17.8995      0.123226
12       12  18.103593      0.113229
13       13  18.277085      0.104731
14       14  18.426373      0.097418
15       15  18.556188       0.09106
16       16  18.670104       0.08548
17       17  18.770872      0.080544
18       18  18.860643      0.076146
19       19  18.941123      0.072204
20       20  19.013683       0.06865
21       21  19.079438      0.065429
22       22    19.1393      0.062497
23       23  19.194029      0.059816
24       24  19.244257      0.057356
25       25  19.290517       0.05509
26       26  19.333262      0.052996
27       27  19.372877      0.051056
28       28  19.409694      0.049252
29       29  19.443999      0.047572
30       30  19.476041      0.046002
31       31  19.506036      0.044533
32       32  19.534176      0.043155
33       33  19.560625      0.041859
34       34  19.585533      0.040639
35       35  19.609031      0.039488
36       36  19.631234        0.0384
37       37  19.652247      0.037371
38       38  19.672163      0.036396
39       39  19.691066       0.03547
40       40  19.709031       0.03459
41       41  19.726126      0.033752
42       42  19.742413      0.032954
43       43  19.757948      0.032194
44       44  19.772782      0.031467
45       45  19.786961      0.030772
46       46  19.800528      0.030108
47       47  19.813521      0.029471
48       48  19.825976      0.028861
49       49  19.837926      0.028276
50       50  19.849401      0.027714

In [14]:

#wyniki funkcji dla małej i dużej liczby kroków

Smin1 = simpson(math.cos,1,15,2)
Smax1 = simpson(math.cos, 1,15,100000)

print('Wynik malej liczby krokow dla cos(x):', Smin1) 
print('Wynik duzej liczby krokow dla cos(x):',Smax1)


Smin2 = simpson(math.exp, 1, 15, 2)
Smax2 = simpson(math.exp, 1, 15, 100000)
print('Wynik malej liczby krokow dla exp(x):', Smin2) 
print('Wynik duzej liczby krokow dla exp(x):',Smax2)

Smin3 = simpson(math.sqrt, 1, 15, 2)
Smax3 = simpson(math.sqrt, 1, 15, 100000)
print('Wynik malej liczby krokow dla sqrt(x):', Smin3) 
print('Wynik duzej liczby krokow dla sqrt(x):',Smax3)

Wynik malej liczby krokow dla cos(x): -1.2396636054994337
Wynik duzej liczby krokow dla cos(x): -0.19107679684060305
Wynik malej liczby krokow dla exp(x): 3814276.8524923315
Wynik duzej liczby krokow dla exp(x): 3268557.0344710452
Wynik malej liczby krokow dla sqrt(x): 15.584642173853654
Wynik duzej liczby krokow dla sqrt(x): 38.06262457942578